@import "tailwindcss";

:root {
  --bg-main: #0b0b0b;
  --gold: #d4af37;
  --gold-soft: #f5e6b3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bg-main);
  color: white;
}

h1, h2, h3 {
  font-family: var(--font-cinzel);
}

body {
  font-family: var(--font-inter);
}
